#datepicker {
  background-color: white;
}

.ui-datepicker-header {
  background: #337ab7;;
  color: white;
  border-color: #428bca;
}  

.form-control {
  cursor: pointer;
}

.modal {
  top: 30%;
}

#tabs { 
  padding: 0px; 
  border-color: #337ab7;
} 

#tabs .ui-tabs-nav { 
  background: white; 
  border-color: #337ab7;
  border-width: 0px 0px 1px 0px; 
} 

#tabs .ui-tabs .ui-tabs-nav a
{
  background: white;
  color: #231f20; 
}

#tabs .ui-tabs-active a{
  background: #337ab7;
  color: white;
  outline: none;
}

#tabs .ui-tabs .ui-tabs-nav li {
  border-color: #337ab7;
}
