#datepicker {
  background-color: white;
}

.ui-datepicker-header {
  background: #337ab7;;
  color: white;
  border-color: #428bca;
}  

.form-control {
  cursor: pointer;
}

.modal {
  top: 30%;
}


.nav-tabs>li>a {
  color:#337ab7;
  background-color: #fff; 
  outline: none;
}


.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  color: #fff;
  background-color: #337ab7;
}


.nav-tabs>li>a:hover {
  color: #fff;
  background-color: #5bc0de; 
  border-color: #337ab7;
}

